<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Mohamed Aziz</title>
        <link rel='stylesheet' type="text/css" href={{ url_for('static', path='/css/style.css') }}/>
        <link rel='stylesheet' type="text/css" media="screen and (max-width: 690px)" href={{ url_for('static', path='/css/mobile.css') }}/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <div class="main-container">
            <div class="info-container">
                <h1>Mohamed Aziz Ben Nessir</h1>
                <div class="tagline">Data Scientist</div>
                <fieldset>
                    <legend>About Me</legend>
                    <ul>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            Tunis, Tunisia
                        </li>
                        <li>
                            <i class="fas fa-university"></i>
                            Higher Institute Of Computer Science Ariana
                        </li>
                        <!--
                        <li>
                            <i class="fas fa-building"></i>
                            Job Place
                        </li>
                        -->
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Skills</legend>
                    <ul>
                        <li>
                            <i class="fas fa-code"></i>
                            Python,C,C++,Java,Rust,JavaScript
                        </li>
                        <li>
                            <i class="fas fa-server"></i>
                            Git,Docker,kubernetes 
                        </li>
                        <li>
                            <i class="fas fa-chart-bar"></i>
                            Tenserflow,keras,Pytorch
                        </li>

                        <li>
                            <i class="fas fa-terminal"></i>
                            Linux Enthusiast
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Links</legend>
                    <ul class="link-list">
                        <li>
                            <i class="fab fa-github-square"></i>
                            <a href="https://github.com/Mohamed-Aziz-Ben-Nessir">
                                GitHub
                            </a>
                        </li>
                        <li>
                            <i class="fab fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/mohamed-aziz-ben-nessir-9b517820a/">
                                LinkedIn
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-code"></i>
                            <a href="https://codeforces.com/profile/Jack-of-all-trades"> CodeForces</a>
                        </li>
                        <li>
                            <i class="fas fa-code"></i>
                            <a href="https://www.kaggle.com/mohamedazizbennessir"> Kaggle </a>
                        </li>

                        <li>
                            <i class="fas fa-envelope-square"></i>
                            <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6D%6F%68%61%6D%65%64%61%7A%69%7A%2E%62%65%6E%6E%65%73%73%69%72%40%65%74%75%64%69%61%6E%74%2D%69%73%69%2E%75%74%6D%2E%74%6E">email me</a>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
            <legend>Portfolio</legend>
            <ul class="link-list">
                <li>
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <a href="#">Resume</a>

                </li>
                <li>
                    <i class="fas fa-code-branch"></i>                    <a href="https://github.com/Mohamed-Aziz-Ben-Nessir/DataSciencePortfolio">
                                DataSciencePortfolio
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-code-branch"></i>
                            <a href="https://github.com/Mohamed-Aziz-Ben-Nessir/WebDevelopmentPortfolio">
                                WebDevelopmentPortfolio
                            </a>
                        </li>
                    </ul>
                </fieldset>
            </div>
    </body>
</html>
